font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

.visually-hidden {
  display: none;
}
/*Текстовые параметры*/
.page-navigation-item a,
.page-navigation-cart {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.info-slider-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.info-slider-item-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.info-slider-item-link,
.services-item-link,
.contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.services-item-subject {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-description-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-description-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-description-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
}

.about-description-list-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-statistics-table-caption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.about-statistics-table-percentage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
}

.about-statistics-table-legend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.about-statistics-table-percentage sup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
}

.contacts-caption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-address,
.contacts-telephone,
.contacts-telephone a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.suggestions-slogan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.suggestions-promo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/*Фон*/
.page-header,
.info-slider {
  background: #eeeeee;
}
