:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;
  --basic-yellow: #efc849;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.hidden {
  display: none;
}

.navigation-link,
.header-cart {
  line-height: 30px;
  font-weight: 500;
}

.slider-item-header {
  line-height: 55px;
  font-size: 55px;
}

.btn {
  line-height: 18px;
}

.directions-item-header {
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}

.services-slogan {
  line-height: 45px;
  font-size: 45px;
  font-weight: 500;
}

.services-text-upper {
  line-height: 24px;
  font-weight: 700;
}

.statistics-header {
  line-height: 24px;
  font-weight: 700;
}
.statistics-term {
  line-height: 18px;
}

.statistics-desc {
  line-height: 45px;
  font-size: 45px;
  font-weight: 700;
}

.statistics-percent {
  line-height: 40px;
  font-size: 26px;
  font-weight: 700;
}

.contacts-header {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.contacts-address,
.contacts-tel {
  line-height: 18px;
}

.promo-slogan {
  line-height: 36px;
  font-size: 36px;
  font-weight: 700;
}

.promo-text {
  line-height: 22px;
}

.header,
.slider {
  background-color: var(--basic-gray);
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-green {
  background-color: var(--basic-green);
}
