@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #eeeeee;
  --basic-gray-hover: #dfdfdf;
  --basic-gray-active: #d5d5d5;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;
  --basic-yellow: #efc849;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;
  --basic-graphite: #4d4d4d;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 1440px;
  min-height: 100vh;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.navigation-link,
.header-cart {
  line-height: 30px;
  font-weight: 500;
}

.slider-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.slider-item-header,
.catalog-header {
  line-height: 55px;
  font-size: 55px;
  font-weight: 500;
}

.btn {
  line-height: 18px;
}

.directions-item-header {
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}

.header-navigation {
  display: grid;
  grid-template-columns: 160px 1fr auto;
  gap: 30px;
}

.directions-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.services-info {
  grid-column: 1/3;
}

.services-slogan {
  line-height: 45px;
  font-size: 45px;
  font-weight: 500;
}

.services-text-upper {
  line-height: 24px;
  font-weight: 700;
}

.statistics-header {
  line-height: 24px;
  font-weight: 700;
}
.statistics-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.statistics-desc {
  grid-row: 1/2;
}

.statistics-term,
.product-description {
  line-height: 18px;
}

.statistics-desc {
  line-height: 45px;
  font-size: 45px;
  font-weight: 700;
}

.statistics-percent {
  line-height: 40px;
  font-size: 26px;
  font-weight: 700;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.contacts-header,
.legend-name,
.sort-text,
.product-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.contacts-address,
.contacts-tel {
  line-height: 18px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 140px;
}

.promo-slogan {
  line-height: 36px;
  font-size: 36px;
  font-weight: 700;
}

.promo-text,
.price-label,
.price-input {
  line-height: 22px;
}

.grid-label {
  line-height: 20px;
}

.sort-link {
  line-height: 18px;
  font-size: 14px;
}

.btn-filter,
.btn-product,
.pagination-link,
.btn-contacts {
  font-weight: 500;
}

.header,
.slider,
.content-section,
.price-slider-input,
.price-input {
  background-color: var(--basic-gray);
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-gray,
.product-info {
  background-color: var(--basic-gray);
}

.grid-input,
.features-input {
  background-color: var(--basic-graphite);
}

.content-header {
  text-align: center;
}

.catalog-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.sort-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.product-panel {
  background-color: var(--basic-graphite);
}

.pagination-link {
  background-color: var(--basic-gray);
}

.hidden {
  display: none;
}
